:root {
  /* spaces */

  --space-xxs: 0.125rem;
  --space-xs: 0.25rem;
  --space-s: 0.5rem;
  --space-m: 0.75rem;
  --space-l: 1rem;
  --space-xl: 1.5rem;
  --space-xxl: 2rem;

  /* font sizes */

  --font-xxs: 0.5rem;
  --font-xs: 0.75rem;
  --font-s: 0.9rem;
  --font-m: 1rem;
  --font-l: 1.25rem;
  --font-xl: 1.5rem;
  --font-xxl: 2rem;
  --font-title: var(--font-xxl);

  /* colors */

  --primary: #442d9f;
  /*--secondary: #beb3ea;*/
  --secondary: #e9e5ff;
  --accent: #452ea3;
  --background: #fafaff;
  --background-darker: #c5c5c5;
  --text: #0e0920;

  /* box-shadow */

  --box-shadow: 2px 2px 2px rgba(154, 151, 151, 0.25);

  /* radius */
  --button-radius: 8px;
  --card-radius: 16px;
}
